.hidden {
    display: none; /* Скрывает элементы, чтобы они не отображались на странице */
}

body {
    margin: 0; /* Убирает отступы по умолчанию */
    font-family: Arial, sans-serif; /* Устанавливает шрифт для всего документа */
    display: flex; /* Использует Flexbox для расположения дочерних элементов */
    flex-direction: column; /* Располагает элементы в колонку */
    min-height: 100vh; /* Устанавливает минимальную высоту на всю высоту окна браузера */
}

header {
    display: flex; /* Использует Flexbox для выравнивания элементов в шапке */
    align-items: center; /* Вертикально центрирует элементы */
    justify-content: space-between; /* Размещает элементы по краям с равным пространством между ними */
    background-color: #4CAF50; /* Задает зеленый фон для шапки */
    padding: 10px 20px; /* Добавляет внутренние отступы */
    color: white; /* Устанавливает белый цвет текста */
    width: 100%; /* Ширина шапки на всю ширину окна */
    border-top-left-radius: 10px; /* Закругляет верхний левый угол */
    border-top-right-radius: 10px; /* Закругляет верхний правый угол */
    box-sizing: border-box; /* Учитывает padding в общей ширине элемента */
}

.logo-container {
    flex: 0 0 25%; /* Устанавливает фиксированную ширину 25% для контейнера с логотипом */
    display: flex; /* Использует Flexbox для выравнивания элементов внутри */
    align-items: center; /* Вертикально центрирует логотип */
}

.logo {
    max-width: 100%; /* Ограничивает максимальную ширину логотипа */
    height: auto; /* Автоматически регулирует высоту для сохранения пропорций */
}

.site-title {
    flex: 1; /* Задает элементу гибкость для заполнения доступного пространства */
    text-align: center; /* Центрирует текст заголовка */
    margin-right: 20%; /* Добавляет правый отступ */
}

.contact-container {
    flex: 0 0 25%; /* Устанавливает фиксированную ширину 25% для контейнера с контактной информацией */
    display: flex; /* Использует Flexbox для расположения элементов */
    flex-direction: column; /* Располагает элементы в колонку */
    justify-content: center; /* Центрирует элементы по вертикали */
    text-align: left; /* Выравнивает текст по левому краю */
    height: 100%; /* Устанавливает высоту на всю высоту родительского элемента */
}

.contact-container ul {
    list-style-position: outside; /* Задает позицию маркеров списка вне элемента */
    padding-left: 20px; /* Добавляет отступ слева */
    margin: 0; /* Убирает отступы по умолчанию */
}

.contact-container li {
    margin-top: 5px; /* Добавляет отступ сверху между элементами списка */
    list-style-type: disc; /* Использует диски в качестве маркеров списка */
}

.contact {
    font-weight: bold; /* Выделяет текст жирным шрифтом */
    display: inline-block; /* Отображает элемент как блочный с возможностью располагаться в строке */
    margin-right: 10px; /* Добавляет отступ справа */
}

.contact-details {
    display: inline-block; /* Отображает элемент как блочный с возможностью располагаться в строке */
}

main {
    display: flex; /* Использует Flexbox для расположения основного контента */
    flex: 1; /* Задает элементу гибкость для заполнения доступного пространства */
}

aside.sidebar-l {
    background-color: #ddd; /* Задает светло-серый фон для левой боковой панели */
    padding: 20px; /* Добавляет внутренние отступы */
    width: 300px; /* Фиксированная ширина боковой панели */
    box-sizing: border-box; /* Учитывает padding в общей ширине элемента */
}

.content {
    padding: 20px; /* Добавляет внутренние отступы */
    background-color: #f1f1f1; /* Задает светло-серый фон для основного контента */
    flex: 1; /* Задает элементу гибкость для заполнения доступного пространства */
    color: #333; /* Устанавливает цвет текста */
    line-height: 1.6; /* Увеличивает межстрочный интервал для улучшения читаемости */
}

.content h2, .content h3 {
    color: #4CAF50; /* Задает зеленый цвет для заголовков */
    margin-top: 30px; /* Добавляет отступ сверху для заголовков */
}

.content ul {
    list-style-type: disc; /* Использует диски в качестве маркеров списка */
    padding-left: 20px; /* Добавляет отступ слева */
}

.content li {
    margin-bottom: 10px; /* Добавляет отступ снизу между элементами списка */
}

.content p, .content ul {
    margin: 10px 0; /* Устанавливает отступы сверху и снизу */
    padding-bottom: 20px; /* Добавляет отступ снизу */
    border-bottom: 1px solid #ccc; /* Добавляет нижнюю границу для разделения секций */
}

aside.sidebar-r {
    background-color: #ddd; /* Задает светло-серый фон для правой боковой панели */
    padding: 20px; /* Добавляет внутренние отступы */
    width: 800px; /* Фиксированная ширина боковой панели */
    box-sizing: border-box; /* Учитывает padding в общей ширине элемента */
    text-align: center; /* Центрирует текст */
}

.button-container {
    margin-bottom: 20px; /* Добавляет отступ снизу */
}

.sidebar-r h2 {
    color: #18631a; /* Задает зеленый цвет для заголовков */
}

.sidebar-r button {
    width: 50%; /* Устанавливает ширину кнопки на 50% от родительского элемента */
    padding: 5px; /* Добавляет внутренние отступы */
    font-size: 14px; /* Устанавливает размер шрифта */
    cursor: pointer; /* Меняет курсор на указатель при наведении */
    background-color: #4CAF50; /* Задает зеленый фон для кнопок */
    color: white; /* Устанавливает белый цвет текста */
    border: none; /* Убирает границу */
    border-radius: 5px; /* Скругляет углы кнопки */
    transition: background-color 0.3s; /* Добавляет плавный переход цвета при наведении */
}

.sidebar-r button:hover {
    background-color: #45a049; /* Изменяет цвет кнопки при наведении */
}

.sidebar-r img {
    display: none; /* Скрывает изображения по умолчанию */
    margin-top: 10px; /* Добавляет отступ сверху */
    max-width: 100%; /* Ограничивает максимальную ширину изображения */
    height: auto; /* Автоматически регулирует высоту для сохранения пропорций */
}

footer {
    background-color: #333; /* Задает темно-серый фон для нижнего колонтитула */
    color: white; /* Устанавливает белый цвет текста */
    text-align: center; /* Центрирует текст */
    padding: 10px 0; /* Добавляет внутренние отступы сверху и снизу */
}



/* Стили для мобильных устройств */
@media (max-width: 480px) {
    body {
        font-size: 12px; /* Уменьшаем размер шрифта */
    }

    header,
    .logo-container,
    .site-title,
    .contact-container,
    aside.sidebar-l,
    aside.sidebar-r {
        flex-direction: column; /* Располагаем элементы в колонку */
        width: 100%; /* Ширина на 100% */
        padding: 10px; /* Уменьшаем отступы */
    }

    .contact-container {
        flex-direction: column; /* Располагаем элементы в колонку */
        align-items: flex-start; /* Выравниваем по левому краю */
    }

    .content {
        padding: 10px; /* Уменьшаем отступы */
    }

    aside.sidebar-l,
    aside.sidebar-r {
        width: 100%; /* Ширина боковых панелей на 100% */
        padding: 10px; /* Уменьшаем отступы */
    }
}

/* Стили для планшетов */
@media (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 14px; /* Увеличиваем размер шрифта */
    }

    header,
    .logo-container,
    .site-title,
    .contact-container,
    aside.sidebar-l,
    aside.sidebar-r {
        flex-direction: column; /* Располагаем элементы в колонку */
        width: 100%; /* Ширина на 100% */
        padding: 15px; /* Уменьшаем отступы */
    }

    .contact-container {
        flex-direction: column; /* Располагаем элементы в колонку */
        align-items: flex-start; /* Выравниваем по левому краю */
    }

    .content {
        padding: 15px; /* Уменьшаем отступы */
    }

    aside.sidebar-l,
    aside.sidebar-r {
        width: 100%; /* Ширина боковых панелей на 100% */
        padding: 15px; /* Уменьшаем отступы */
    }
}